.container-3{
    display: flex;
}
.button1 {
    background-color: #d1d2d7;
    border: none;
    color: rgb(95, 91, 91);
    width: 75px;
    height: 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 25px;
  }
.button2 {
    background-color: #194AF5;
    border: none;
    color: white;
    width: 129px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  .button3 {
    background-color: #d1d2d7;
    border: none;
    color: rgb(95, 91, 91);
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    border-radius: 100px;
  }